*{               /* * '*' is a universal selector in CSS. It selects all elements on the page. */
    margin: 0;
    padding: 0;
    font-family:'Poppins',sans-serif;
    box-sizing: border-box;
}

body{
    background: #222;
}


.card{
    width: 90%;
    max-width: 470 px;
    background: linear-gradient(135deg,#00feba,#5b548a);
    color:#fff;                                               /* this is going to be text color*/
    margin: 100px auto 0;                                       /* margin 100px from top 0 from bottom and L-R auto */
    border-radius: 20px;                                        /* it makes corners round*/
    padding: 40px 35px;       
    text-align: center;
}

.search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;     /*input field and search button will align side by side*/
}

.search input{                      /* styling for input box */
    border: 0;
    outline: 0 ;
    background: #ebfffc;
    color: #555;
    padding: 10px 25px;
    height: 60px;
    border-radius: 30px;
    flex:1;
    margin-right: 16px;
    font-size: 18px;

}

.search button{                        /* styling for search button */
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius:50%;                  /* to make button circular we've given it to 50% */
    width: 60px;
    height: 60px;
    cursor: pointer;
}

.search button img{
    width: 20px;
}

.weather-icon{
    width: 170px;
    margin-top: 30 px;
}

.weather h1{
    font-size: 80px;
    font-weight: 500;
}

.weather h2{
    font-size: 45px;
    font-weight: 400;
    margin-top: -10px;
}

.details{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;                           /* 20px from L n R side*/
    margin-top: 50px;
}

.col{
    display: flex;
    align-items: center;
    text-align: left;
}

.col img {                                     /* style both images under class col */
    width: 40px;
    margin-right: 10px;
}
 
.humidity, .wind{                            /* style both class humidity and wind together*/
    font-size: 28px;
    margin-top: -6px;
}

.weather{
    display: none;
}

.error{
    text-align: left;
    margin-left: 10px;
    font-size: 14px;
    margin-top: 10px;
    display:none;
}